@{

    Layout = "../Shared/_Layout3.cshtml";
}

@{
    ViewBag.Title = "food";
}

<h2 class="text-center">Request For Food</h2>

@foreach (var st in Model)
{
    Session["name"] = @st.Name;
    Session["address"] = @st.Address;
    Session["email"] = @st.Email;
    Session["phone"] = @st.PhoneNumber;

    <form action="/Restaurant/foodadd" method="post">
            <div class="container" style="width:400px;">

            <label>Restaurant ID</label>
            <input type="number" name="RQID" class="form-control" placeholder="Enter your Id" value="@Session["UserID"].ToString()" />@Html.ValidationMessage("RQID")<br />

            <label>Restaurant Name</label>
            <input type="text" name="Name" class="form-control" placeholder="Enter your Name,only letter" value="@st.Name" />@Html.ValidationMessage("Name")<br />

            <label>Address</label>
            <input type="text" name="Address" class="form-control" placeholder="Enter your Address" value="@st.Address" />@Html.ValidationMessage("Address")<br />

            <label>E-mail</label>
            <input type="text" name="Email" class="form-control" placeholder="Enter your Email" value=" @st.Email" />@Html.ValidationMessage("Email")<br />

            <label>Phone Number</label>
            <input type="Number" name="PhoneNumber" class="form-control" placeholder="Enter your Phone number" value=" @st.PhoneNumber" />@Html.ValidationMessage("PhoneNumber")

            <label>Quantity</label>
            <input type="text" name="Quantity" class="form-control" placeholder="Enter Quantity" />@Html.ValidationMessage("Quantity")<br />

            <input type="submit" class="btn btn-success" name="btn_submit" value="Register" />
            </div>
    </form>
}
