<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!--USER-->
    <div class="navbar navbar-expand-sm bg-info navbar-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3>ZerO Hunger</h3>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "RestaurantHome", "Restaurant")</li>
                    <li>@Html.ActionLink("About", "About", "Main")</li>
                    <li>@Html.ActionLink("Award", "Award", "Main")</li>
                    <li>@Html.ActionLink("Log Out", "Home", "Main")</li>
                </ul>
            </div>
        </div>
    </div>



    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
